<a class="btn btn-primary" href="/new">Add An Album</a>
<h2 class="text-center">Albums</h2>

    {{#each albums}}
        <div class="row review">
            <div class="col-sm-4">
                <img src="{{imgLink}}">
            </div>
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-6">
                        <h4>
                            <a href="/{{_id}}">{{artist.[0].name}} - {{title}}</a>
                        </h4>
                        {{releaseYear}}
                    </div>
                    <div class="col-sm-6">
                        
                    </div>
                </div>
            </div>
        </div>
    {{/each}}